<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952843904069-uvhjfkfui1qvuc7fvve0rcgq3vnl5vlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952843904069-uvhjfkfui1qvuc7fvve0rcgq3vnl5vlb</string>
	<key>API_KEY</key>
	<string>AIzaSyAfA2V0LVQyGQVRFQ4xLHTq6CvFIJHqtk0</string>
	<key>GCM_SENDER_ID</key>
	<string>952843904069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dep2</string>
	<key>PROJECT_ID</key>
	<string>dep-2-1f180</string>
	<key>STORAGE_BUCKET</key>
	<string>dep-2-1f180.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952843904069:ios:05a13b4e344f35df802f2c</string>
</dict>
</plist>